* {
    box-sizing: border-box;
}

.tela-entrada {

}

.invisivel {
    display: none;
}

.sidebar {

}

body {
    background: #E5E5E5;
}

header {
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-right: 3%;
    padding-left: 3%;
}

main {
    background: #E5E5E5;
    display: flex;
    flex-direction: column;    
    margin-top: 80px;
    margin-bottom: 80px;
    padding-top: 26px;
    padding-bottom: 6px;
}

footer {
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;    
    padding-left: 2%;
    padding-right: 2%; 
}

.logo-pequeno {
    width: 75px;
    height: 53px;
}

.botao-menu {
    width: 42px;
    height: 30px;
}

.digitar-msg {
    width: 100%;
    height: 100%;
    font-style: normal;    
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #000000;
    border: 0px;
}

.digitar-msg::-webkit-input-placeholder{
    font-style: italic;
    color: #000000;
}

.digitar-msg:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.botao-enviar {
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.mensagem {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #FFFFFF;
    border-radius: 2px;
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color:#000000;
    
}

.fonte-time {
    color: #AAAAAA;
}

body, input {
    font-family: 'Roboto', sans-serif;
}
